<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap'
      rel='stylesheet'
    />
    <style>
      body {
        font-family: 'Sora', sans-serif;
        line-height: 1.6;
        color: #333;
        background-color: #fff0c7;
        margin: auto;
        padding: auto;
      }

      .container {
        max-width: 600px;
        margin: 20px auto;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .header {
        text-align: center;
        border-bottom: 2px solid #af904c;
        margin-bottom: 20px;
        padding-bottom: 10px;
      }

      .header h1 {
        margin: 0;
        font-size: 28px;
        font-weight: 600;
        color: #c98f23;
      }

      .header h2 {
        margin: 10px 0 0;
        font-size: 18px;
        color: #af7c4c;
      }

      .content {
        padding: 10px 0;
      }

      .content p {
        margin: 10px 0;
        font-size: 16px;
        color: #555;
      }

      .content .order-details {
        background: #f4f4f4;
        padding: 15px;
        border-radius: 5px;
        margin-top: 15px;
      }

      .footer {
        text-align: center;
        margin-top: 20px;
        font-size: 12px;
        color: #888;
      }

      .footer p {
        margin: 5px 0;
      }

      .button {
        display: inline-block;
        padding: 10px 20px;
        background: #af844c;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        margin-top: 15px;
      }

      .button:hover {
        background-color: #c99423;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <h1>Payment Success</h1>
        <h2>TutorLink</h2>
      </div>
      <div class='content'>
        <p>Hi {{studentName}},</p>
        <p>We are happy to inform you that your payment has been successfully
          completed.</p>
        <p>Total Amount: <strong>{{bookingAmount}} BDT</strong></p>
        <p>Your booking has been confirmed, and your tutor will be ready to
          start soon.</p>
        <p>If you have any questions, feel free to contact us.</p>
        <p>Thank you for using TutorLink!</p>
      </div>
      <div class='footer'>
        <p>If you have any questions, feel free to contact us.</p>
        <p>Best regards, <br /> TutorLink Team</p>
        <p> &copy; 2025 TutorLink. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>